@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Gator;
    src: url("/fonts/GatorRegular.otf");
}
@font-face {
    font-family: VagRounded;
    src: url("/fonts/VAGRoundedBT-Regular.otf");
}
